.centreText {
    text-align: center;
  }
  
  h1 {
    font-size: 150px;
  }
  
  .dropZone {
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 5px;
    padding-bottom: 2.5px;
    height: 60vh;
    background-color: #202125;
    border-radius: 0px;
    color: #888da3;
  }
  
  .image1 {
    max-width: 100%;
    height: 60vh;
  }
  
  .dank {
    display:flex;
    justify-content:center;
    color: #202125;
    font-size: 35px;
  }
  
  .dropZoneText {
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }